.mySwiper {
  max-height: 200px;
  .swiper-wrapper{
  .swiper-slide{
    
  }
  .swiper-slide-next{
    margin: 80px 0 0 30px ;
    border: 2px solid #f7f7f7 ;
    transform: translate3d (rotateZ(0deg) scale(1))
    
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    right: 0;
    left: unset;
    color: #363636;

    &::after {
      content: "";
    }
  }

  .swiper-button-next {
    top: 60px;
  }

  .swiper-button-prev {
    top: 10px;
  }
}

.swiper-pagination {
  display: flex;
  gap: 25px;
  // top: unset;
  left: 0;
  // right: unset;
  bottom: -100px;
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    background-color: #39425d;
  }
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  top: unset;
  right: unset;
}

.swiper-3d .swiper-slide-shadow{
  background: none;
}