.testemonials{
  margin-bottom: 120px;
  .testemonials__left-side{
    position: relative;
    h6{
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      text-align: left;
      color: #5e6282;
      text-transform: uppercase;
    }
    h3{
      font-family: Volkhov;
      font-size: calc((50px + ((50 - 44) * ((100vw - 1366px) / ( 1920 - 1366 )))));
      font-weight: bold;
      line-height: 1.34;
      text-align: left;
      color: #14183e;
    }
  }
  .testemonials__right-side{
    position: relative;
    .swiper{
      .swiper-wrapper{
        .swiper-slide{
          .slide-wrapper{
            width: 92%;
            border-radius: 10px;
            box-shadow: 0px 12px 26px 1px rgba(0,0,0,0.1);
            background-color: #fff;
            padding: 28px 68px 34px 34px ;
            p{
              margin-bottom: 35px;
            }
          }
        }
      }
    }
    .testemonials__right-side__img{
      position: absolute;
      top: -25px;
      left: -25px;
      z-index: 2;
    }
  }
}

@media only screen and (max-width:991px) {
  .testemonials{
    .testemonials__right-side{
      margin-bottom: 50px;
    }
  }
}